* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.page__1 {
    width: 1450px;
    height: 500px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

.orange {
    color: blueviolet;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav__link--list {
    display: flex;
    justify-content: right;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #0e0c12;
    font-weight: 700;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 190px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header__contenct {
    display: flex;
    justify-content: center;
    align-items: center;
}


