* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.page__1 {
    width: 1450px;
    height: 500px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

.orange {
    color: rgb(31, 31, 97);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav__link--list {
    display: flex;
    justify-content: right;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #0e0c12;
    font-weight: 700;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 190px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header__contenct {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.search input[type=text]{
    width:500px;
    height:50px;
    border-radius:25px;
    
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 190px;
}

.row {
    padding-top: 30px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.user-list {
    padding-top: 20px;
    flex-direction: column;
    height: 300px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    margin-right: 35px;
    margin-bottom: 40px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

}

.user {
   padding-top: 20px;
}

.user-card {
    background-color: #0d0d11;
    box-shadow: 0 4px 8px 0 rgb(16, 15, 15);
    margin: px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: px;
}



.user-card:hover {
    box-shadow: 0 8px 16px 0 rgba(16, 15, 15, 0.2);
}

.user-card__container {
    padding: 2px 16px;
}

.img__3 {
    height: 500px;
}

.img__3 {
    background: #34495e;
    border: 1px solid #34495e;
    width: 200px;
    height: 200px;
  }
  
  .img__3 {
    object-fit: contain;
    object-position: center;
  }
  
  .img__3 {
    object-fit: cover;
    object-position: right top;
  }




