* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.orange {
    color: blueviolet;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header__contenct {
    display: flex;
    justify-content: center;
    align-items: center;
}
